body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  font-family: 'gothic';
  text-align: center;
  position: relative;
  height: 100vh;
  background-image: url(../public/assets/images/1Banner.png);
}

/* FONTS */

@font-face {
  font-family: 'gothic'; 
  src: url(/public/fonts/GOTHIC.TTF);
}
@font-face {
  font-family: 'glaceRegular'; 
  src: url(/public/fonts/Fontspring-DEMO-glancesans-bold.otf);
}
@font-face {
  font-family: 'glace'; 
  src: url(/public/fonts/Fontspring-DEMO-glancesans-regular.otf);
} 

/* REUSABLE */
.flex {
  display: flex;
  width: 100%;
}

/* HEADER */

.main_header{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.header_button{
  margin-top: 20px;
  font-family: 'gothic';
  border: none;
  background-color: inherit;
  padding: 11px 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: black;
  border-radius: 60px;
}
.header_button:hover {
  background-color: #ed5c01;
  color: white;
}
.navbar{
  display: flex;
  list-style: none;
}
.pet{  
  margin-top: 20px;
  width: 33%;
}
.middle{
  width: 33%;
}
.sign_up{  
  margin-top: 20px;
  width: 33%;
}
.pet_first{
  border: none;
  background-color: inherit;
  padding: 11px 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  border-radius: 60px;
}
.pet_first:hover {
  background-color: #ed5c01;
  color: white;
}
.sign_up_button{
  background-color: inherit;
  border-style: solid;
  border-color: white;
  padding: 11px 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: white;
  border-radius: 60px;
}
.sign_up_button:hover {
  background-color: #ed5c01;
  color: white;
  border-color: #ed5c01;
}

/* BANNER 1 LEARN MORE */
.box1{
  height: 500px;
  width: 50%;
  color: #ed5c01;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-weight: bold;
}
.box33{
  line-height: 10%;
}
.learnMoreButton{
  border-radius: 40px;
  background-color: #ed5c01;
  border: none;
  font-family: 'gothic';
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
.learnMoreButton:hover {
  background-color: #ebe3cc;
  color: black;
}
.logo_arrow{
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-left: 10px;
}
.arrow{
  width: 70px;
}
.available{
  font-size: 20px;
  color: #189cab;
}
.pet-first{
  font-family: 'glaceRegular'; 
  color: #062d3e;
}
.wellness{
  color: #062d3e;
  font-family: 'glaceRegular'; 
}

/* BANNER 1 SLIDESHOW */

.slideshow{
  width: 50%;
  height: 500px;
  margin-right: 50px;
  align-items: center;
}
.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 450px;
}

/* BANNER 2*/

.banner2_container{
  height: 300px;
  background-color: #ed5c01;
}
.image_banner2{
  width: 30%;
  height: 300px;
}
.dogs{
  width: 70%;
}

/* MOBILE */
@media screen and (max-width: 1000px) {
  .box1 {
    font-size: 45px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .box1{
    align-items: center;
  }
  .available{
    font-size: 15px;
    line-height: 100%;
  }
  .arrow{
    width: 30px;
  }
  .slideshow{
    display: none;
  }
  .middle{
    width: 33%;
  }
}

@media screen and (min-width: 601px) {
  .box1 {
    font-size: 60px;
  }
  .box2 {
    font-size: 60px;
  }
  .available{
    font-size: 20px;
  }
  .arrow{
    width: 70px;
  }

}
@media screen and (max-width: 600px) {
  .box1 {
    font-size: 33px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .box1{
    align-items: center;
  }
  .available{
    font-size: 15px;
    line-height: 100%;
  }
  .arrow{
    width: 30px;
  }
  .slideshow{
    display: none;
  }
  .middle{
    display: none;
  }
}
