body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  font-family: 'gothic';
  text-align: center;
  position: relative;
  height: 100vh;
  background-image: url(../public/assets/images/1Banner.png);
}

/* FONTS */

@font-face {
  font-family: 'gothic'; 
  src: url(/public/fonts/GOTHIC.TTF);
}
@font-face {
  font-family: 'glaceRegular'; 
  src: url(/public/fonts/Fontspring-DEMO-glancesans-bold.otf);
}
@font-face {
  font-family: 'glace'; 
  src: url(/public/fonts/Fontspring-DEMO-glancesans-regular.otf);
} 
@font-face {
  font-family: 'bergen'; 
  src: url(/public/fonts/BergenSans-SemiBold.otf);
} 

/* REUSABLE */
.flex {
  display: flex;
  width: 100%;
}

/* HEADER */

.main_header{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.header_button{
  margin-top: 20px;
  font-family: 'gothic';
  border: none;
  background-color: inherit;
  padding: 11px 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: black;
  border-radius: 60px;
}
.header_button:hover {
  background-color: #ed5c01;
  color: white;
}
.navbar{
  display: flex;
  list-style: none;
}
.pet{  
  margin-top: 20px;
  width: 33%;
}
.middle{
  width: 33%;
}
.sign_up{  
  margin-top: 20px;
  width: 33%;
}
.pet_first{
  border: none;
  background-color: inherit;
  padding: 11px 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  border-radius: 60px;
}
.pet_first:hover {
  background-color: #ed5c01;
  color: white;
}
.sign_up_button{
  background-color: inherit;
  border-style: solid;
  border-color: white;
  padding: 11px 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: white;
  border-radius: 60px;
}
.sign_up_button:hover {
  background-color: #ed5c01;
  color: white;
  border-color: #ed5c01;
}

/* BANNER 1 LEARN MORE */
.box1{
  height: 500px;
  width: 50%;
  color: #ed5c01;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-weight: bold;
}
.box33{
  line-height: 10%;
}
.learnMoreButton{
  border-radius: 40px;
  background-color: #ed5c01;
  border: none;
  font-family: 'gothic';
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
.learnMoreButton:hover {
  background-color: #ebe3cc;
  color: black;
}
.logo_arrow{
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-left: 10px;
}
.arrow{
  width: 70px;
}
.available{
  font-size: 20px;
  color: #189cab;
}
.pet-first{
  font-family: 'glaceRegular'; 
  color: #062d3e;
}
.wellness{
  color: #062d3e;
  font-family: 'glaceRegular'; 
}

/* BANNER 1 SLIDESHOW */

.slideshow{
  width: 50%;
  height: 500px;
  margin-right: 50px;
  align-items: center;
}
.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 450px;
}

/* BANNER 2*/

.banner2_container{
  height: 260px;
  width: 100%;
  background-color: #ed5c01;
}
.image_banner2{
  height: 260px;
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
}
.img45{
  width: 220px;
}
.allDogs{
  height: 260px;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dogs{
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dogs2{
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rabbit{
  width: 90px;
  height: 80px;
  opacity: 0.7;
  border-width: 3px;
  border-radius: 50%;
  border-style: solid;
  border-color: #aa4100;
}
.rabbit:hover{
  opacity: 1;
}
.oneDog{
  height: 260px;
  width: 15%;
}
.textDogs{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.middleImage{
  height: 140px;
  display: flex;
  justify-content: center;
}
.middleDogImg{
  width: 140px;
  height: 135px;
  border-width: 4px;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
}

/* BANNER 3 */

.banner3{
  height: 550px;
  width: 100%;
  background-color: #ebe3cc;
}
.ourService{
  font-family: sans-serif;
  font-weight: bold;
  height: 100px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebe3cc;
}
.ourService p{
  font-size: 20px;
  color: #062d3e;
}
.flexF{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.parallelogram {
	width: 40%;
	height: 400px;
	transform: skew(-13deg);
	background-color: #ebe3cc;
  border-radius: 50px;
  border-width: 3px;
  border-style: solid;
  border-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}
.parallelogram:hover{
  background-color: #fbbd08;
  border-color: #ebe3cc;
}
.parallelogram2 {
	width: 40%;
	height: 400px;
	transform: skew(-13deg);
	background-color: #ebe3cc;
  border-radius: 50px;
  border-width: 3px;
  border-style: solid;
  border-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}
.parallelogram2:hover{
  background-color: #fbbd08;
  border-color: #ebe3cc;
}
.explore_button{
  background-color: inherit;
  padding: 11px 20px;
  font-size: 16px;
  font-family: sans-serif;
  border-style: solid;
  border-color: #062d3e;
  cursor: pointer;
  display: inline-block;
  color: #062d3e;
  border-radius: 60px;
  display: flex;
  align-items: left;
}
.explore{
  transform: skew(13deg);
}
.sourceP{
  font-family: sans-serif;
  width: 430px;
  color: #062d3e;
  text-align: left;
}
.sourcePh{
  font-size: 20px;
  font-family: sans-serif;
  width: 430px;
  color: #062d3e;
  text-align: left;
}
.sourceImage{
  background-color: #fbbd08;
  width: 90px;
  height: 80px;
  border-width: 3px;
  border-radius: 50%;
  display: flex;
  align-items: left;
}
.parallelogram:hover .sourceImage {
  background-color: #ebe3cc;
}
.parallelogram2:hover .sourceImage {
  background-color: #ebe3cc;
}
.parallelogram:hover .explore_button {
  background-color: #062d3e;
  color: white;
}
.parallelogram2:hover .explore_button {
  background-color: #062d3e;
  color: white;
}

/* FOOTER */

.footer{
  height: 260px;
  width: 100%;
  background-color: #062d3e;
  font-family: 'bergen';
}
.footerText{
  height: 260px;
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color:#ed5c01
}
.free{
  height: 260px;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerColumn{
  display: flex;
  flex-direction: column;
}
.footerThings{
  height: 130px;
  width: 40%;
  display: flex;
  align-items: flex-end;
}
.footer_button{
  font-family: 'bergen';
  border: none;
  background-color: inherit;
  padding: 11px 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: white;
  border-radius: 60px;
}
.footer_button:hover{
  color: #ed5c01;
}
.otherFooterThings{
  display: flex;
  align-items: left;
}

/* BANNER 4 */

.banner4{
  height: 240px;
  width: 100%;
  background-color: #ebe3cc;
}
.banner4_1{
  width: 50%;
  height: 240px;
  background-color: #fbbd08;

}
.banner4_2{
  width: 50%;
  height: 240px;
  background-color: #ed5c01;
  flex-direction: column;
}
.footer_dog{
  display: flex;
  height: 240px;
  width: 100%;
  color:#062d3e;
  justify-content: center;
  align-items:flex-end;
}
.footerDog{
  display: flex;
  height: 90%;
  color:#062d3e;
  align-items: center;
  justify-content: center;
  /*background-image: url(./assets/images/mous.png);*/
}

.emailText{
  font-size: 25px;
  font-family: 'bergen';
  height: 120px;
  display: flex;
  width: 100%;
  color:#062d3e;
  align-items: center;
  justify-content: center;
}
.inputMail{
  font-size: 25px;
  font-family: 'bergen';
  height: 120px;
  display: flex;
  width: 100%;
  color:#062d3e;
  align-items: center;
  justify-content: center;
}
input{
  outline: 0;
  border-width: 0 0 2px;
  border-color: #ebe3cc;
  background-color: inherit;
  height: 50px;
  width: 75%;
}
.inputMail2{
    padding-right: 33px;
    background: url(./assets/images/arrow-right.png) no-repeat right;
    background-size: 20px;
}
input[type="text"]{
    font-size:24px;
    color: #ebe3cc;
}
input:focus {
  border-color: #062d3e
}
::placeholder { 
  font-size: 22px;
  color: #ebe3cc;
  opacity: 0.8; 
}
::placeholder:focus { 
  color: #062d3e;
  opacity: 0; 
}
input:focus::placeholder {
  color: transparent;
}

/*===================================================================================================================
========================================================MOBILE=======================================================
=====================================================================================================================*/

@media screen and (max-width: 1000px) {
  .box1 {
    font-size: 45px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .box1{
    align-items: center;
  }
  .available{
    font-size: 15px;
    line-height: 100%;
  }
  .arrow{
    width: 30px;
  }
  .slideshow{
    display: none;
  }
  .middle{
    width: 33%;
  }
  .explore{
    width: 70%;
  }
  .sourceP {
    width: 80%;
    font-size: 13px;
  }
  .middle{
    display: none;
  }
}
@media screen and (min-width: 601px) {
  .box1 {
    font-size: 60px;
  }
  
  .box2 {
    font-size: 60px;
  }
  .available{
    font-size: 20px;
  }
  .arrow{
    width: 70px;
  }
}
@media screen and (max-width: 600px) {
  .box1 {
    font-size: 33px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .box1{
    align-items: center;
  }
  .available{
    font-size: 15px;
    line-height: 100%;
  }
  .arrow{
    width: 30px;
  }
  .slideshow{
    display: none;
  }
  .middle{
    display: none;
  }
  .allDogs{
    display: none;
  }
  .image_banner2{
    height: 300px;
    width: 50%;
  }
  .oneDog{
    height: 400px;
    width: 50%;
  }
  .img45{
    width: 150px;
  }
  .ourService{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .explore{
    width: 120px;
    transform: skew(0deg);
  }

  .sourceImage{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sourceP {
    width: 120px;
    font-size: 13px;
  }
  .sourcePh{
    width: 120px;
  }
  .parallelogram{
    width: 200px;
  }
  .parallelogram{
    transform: skew(0deg);
  }
  .parallelogram2{
    display: none;
  }
  .free{
    display: none;
  }
  .footerText{ 
    display: none;
  }
  .footer{
    height: 100px;
  }
  .footerColumn{
    height: 100px;
    width: 100%;
  }
  .footerThings{
    width: 10px;
    font-size: 5px;
    display: flex;
    align-items: center;
  }
  .otherFooterThings{
    display: flex;
    align-items: center;
  }
  .footer_button{
    width: 5px;
    font-size: 12px;
  }

}
